<div class="inner-box">
  <div class="main-title">
      <h3 class="title">Patients</h3>
  </div>
  <div class="toolbar toolbar-style">
      <div class="left-toolbar">
          <div class="input-box">
              <input class="input-style" type="search" placeholder="Search patient">
          </div>
      </div>
      <div class="right-toolbar">
         <a href="/book-appointment.html">
          <button class= "primary-btn">Add Patient</button>
         </a>
      </div>
  </div>



  <div class="table-body">
      <div class="no-records" >
          <div class="no-records-inner py-5">
              <div class="no-records-icon">
                  <img src="../../../assets/images/no-appointment.png" alt="">
              </div>
              <div class="no-records-content">
                  <h4>No patients !</h4>
                  <p>To add a patients</p>
                  <!-- <button class= "primary-btn">Book Appointment</button> -->
              </div>
          </div>
      </div>
  </div>
</div>
