<div class="header">
  <div class="inner">
    <div class="logo">
        <a href="">
            <img src="../../../assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="divider"></div>
    <ul class="header-manu">
        <li class="manu-item" [routerLink]="['/appointments']"  routerLinkActive="active" >Workspace</li>
        <li class="manu-item" [routerLink]="['/demo']"  routerLinkActive="active">Billing</li>
    </ul>
    <div class="header-right">
    </div>
  </div>
</div>
