$primaryColor:#324755;
$primaryLightColor:#90A4AE;
$primaryTextColor:#CFD8DC;
$primaryTextHoverColor:#ECEFF1;
$accentColor:#406646;
$accentLightColor:#e0e6e1;
$accentTextColor:#ffffff;
$activeMenuItemTextColor:#406646;
$darkActiveMenuItemTextColor:#406646;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;
@import '../../sass/layout/_layout';
